@charset "UTF-8";

/* Base Style */
body {
  font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #333;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  margin: 5px 0px;
}

.grid-col-2 .grid-item {
  width: 50%;
  padding: 3px;
  border: 1px solid #ccc;
}

.grid-col-4 .grid-item {
  width: 25%;
  padding: 3px;
  border: 1px solid #ccc;
}

.grid-col-6 .grid-item {
  width: 16.666%;
  padding: 3px;
  border: 1px solid #ccc;
}

